<div class="container">
  <div class="row footer-row">
    <div class="col text-left">
      <img src="../assets/img/footer-logo.jpg">
    </div>
    <div class="col-sm">
      <div class="text-right">
        <span class="social"><i class="fab fa-facebook-square"></i> Facebook</span>
        <span class="social"><i class="fab fa-twitter-square"></i> Twitter</span>
        <span class="circle">●</span>
        <span class="footer-links">About  |  Contact  |  Sign in</span>
      </div>
      <div class="text-right copyright">©2014 - The UX Library</div>
    </div>
  </div>
</div>